$dropdownPrefixCls: $css-prefix + 'dropdown';
$dropdownItemPrefixCls: $dropdownPrefixCls + '-item';

.#{$dropdownPrefixCls} {
  display: inline-block;

  .#{$dropdownPrefixCls} {
    width: 100%;
  }
  &-rel {
    position: relative;
  }
  &-menu {
    min-width: 70px;
  }
  &-transfer {
    width: auto;
  }
}

@include dropdown-item($dropdownPrefixCls, $dropdownItemPrefixCls);
