$BaseColor: #dcb46e;
$White: #fff;
$LightWhite: #ccc;
$LightGreen: #07c160;
$LightBlue: #1989fa;
$LightRed: #f44;
$LightOrange: #ff976a;
$DimGray: #696969;
$Gainsboro: #ebedf0;
$Dark: #333;

$Ddefault: $White;
$Primary: $BaseColor;
$Save: $LightGreen;
$Info: $LightBlue;
$Danger: $LightRed;
$Warning: $LightOrange;

:export {
  BaseColor: $BaseColor;
}
