$White: #fff;
$LightGreen: #07c160;
$LightBlue: #1989fa;
$LightRed: #f44;
$LightOrange: #ff976a;
$DimGray: #696969;
$Gainsboro: #ebedf0;

$Ddefault: $White;
$Primary: $LightGreen;
$Save: $LightGreen;
$Info: $LightBlue;
$Danger: $LightRed;
$Warning: $LightOrange;
