body {
  margin: 0;
  font-size: 14px;
  font-family: "微软雅黑, -apple-system, Helvetica, PingFangSC-Regular,'Source Han Sans CN', sans-serif";
  text-size-adjust: 100%;
  color: #333;
}

@keyframes v-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.__spinner {
  display: inline-block;
  vertical-align: middle;
  -webkit-animation: v-rotate 0.8s linear infinite;
  animation: v-rotate 0.8s linear infinite;
}
