body {
  margin: 0;
  color: #333;
}

@keyframes v-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.__spinner {
  display: inline-block;
  vertical-align: middle;
  -webkit-animation: v-rotate 0.8s linear infinite;
  animation: v-rotate 0.8s linear infinite;
}
