@mixin dropdown-item($dropdownCls, $itemCls) {
  .#{$itemCls} {
    margin: 0;
    padding: 7px 16px;
    color: $text-color;
    font-size: $font-size-small;
    white-space: nowrap;
    list-style: none;
    cursor: pointer;
    transition: background $transition-time $ease-in-out;

    &:hover,
    &:focus {
      background: $background-color-select-hover;
    }

    &-disabled {
      color: $btn-disable-color;
      cursor: $cursor-disabled;
      &:hover {
        color: $btn-disable-color;
        background: #fff;
        cursor: $cursor-disabled;
      }
    }
    &-divided {
      margin-top: 5px;
      border-top: 1px solid $border-color-split;
      &:before {
        content: '';
        height: 5px;
        display: block;
        margin: 0 -16px;
        background-color: #fff;
        position: relative;
        top: -7px;
      }
    }
  }
}
